<h3 style="color: #577f38">Listagem de Tipo Logradouro</h3>

<p-table #dt [value]="listaTipoLogradouro" dataKey="id"
         [rows]="7" [showCurrentPageReport]="true"
         styleClass="p-datatable-customers"
         [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="descricao">Descrição
        <p-sortIcon field="descricao"></p-sortIcon>
      </th>
    </tr>
    <tr>
      <th>
        <input pInputText type="text" (input)="dt.filter($event.target.value,
        'descricao', 'startsWith')" placeholder="Buscar por descrição" class="p-column-filter">
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-tipoLogradouro>
    <tr>
      <td>
        {{tipoLogradouro.descricao}}
      </td>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6">No customers found.</td>
    </tr>
  </ng-template>
</p-table>
