<nav class="navbar navbar-expand-lg navbar-dark background-navbar">
  <a class="navbar-brand titulo-principal" href="#">Projeto Angular</a>
  <div class="collapse navbar-collapse border-left" id="navbarContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" [class.active]="abaAtual == 'home'">
        <a class="nav-link" href="#"
           routerLink="">Home</a>
      </li>
      <li [hidden]="!isLogado"
          class="nav-item" [class.active]="abaAtual == 'cadastroImobiliario'">
        <a class="nav-link" href="#" routerLink="cadastroImobiliario"
           (click)="abaAtual = 'cadastroImobiliario'">Cadastro Imobiliário</a>
      </li>
      <li [hidden]="!isLogado"
          class="nav-item" [class.active]="abaAtual == 'uf'">
        <a class="nav-link" href="#" routerLink="unidadeFederativa"
           (click)="abaAtual = 'uf'">Unidades Federativas</a>
      </li>
      <li [hidden]="!isLogado"
          class="nav-item" [class.active]="abaAtual == 'tipoLogradouro'">
        <a class="nav-link" href="#" routerLink="tipoLogradouro"
           (click)="abaAtual = 'tipoLogradouro'">Tipo Logradouro</a>
      </li>
      <li [hidden]="!isLogado">
        <a class="nav-link" style="color: white!important; font-weight: bold">Olá, {{usuarioLogin.nome}}</a>
      </li>

      <li [hidden]="isLogado">
        <a class="nav-link" href="#" (click)="abrirDialogLogin()">Entre ou Cadastre-se</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" style="margin-top: 20px;">
  <router-outlet></router-outlet>
</div>

<!--<div class="container" [ngSwitch]="abaAtual" style="margin-top: 20px;">
  <div *ngSwitchCase="'uf'">
    <app-unidade-federativa></app-unidade-federativa>
  </div>

  <div *ngSwitchCase="'tipoLogradouro'">
    <app-tipo-logradouro></app-tipo-logradouro>
  </div>

  <div *ngSwitchCase="'cadastroImobiliario'">
    <app-cadastro-imobiliario [idUsuarioAtual]="usuarioLogin.id"></app-cadastro-imobiliario>
  </div>

  <div *ngSwitchDefault>
    <app-home></app-home>
  </div>
</div>-->

<p-dialog header="Login"
          [(visible)]="renderizarLogin" [modal]="true" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false" [showHeader]="true">
  <form>
    <div style="margin-bottom: 1.2em"
         class="alert alert-danger" role="alert" [hidden]="mensagemErroLogin==null">
      {{mensagemErroLogin}}
    </div>
    <div style="margin-bottom: 1.2em"></div>
    <span class="p-float-label" style="margin-bottom: 2em">
        <input id="loginInputEmail" type="email" class="form-control" aria-describedby="emailHelp"
               [required]="true" [(ngModel)]="usuarioLogin.email" name="email" pInputText>
      <label style="font-size: 1em;"
             for="loginInputEmail">Email</label>
      </span>

    <span class="p-float-label">
        <input id="loginInputPassword" type="password" class="form-control" pInputText
               [required]="true" [(ngModel)]="usuarioLogin.senha" name="senha">
      <label style="font-size: 1em;"
             for="loginInputPassword">Senha</label>
    </span>

    <button style="margin-top: 1em"
            (click)="logar()" type="submit" class="btn btn-dark btn-block">Logar
    </button>
    <a style="color: darkred!important;" class="form-text text-muted" href="#" (click)="abrirDialogCadatro()">
      Não tem conta? Clique aqui para cadastrar-se.
    </a>
  </form>
</p-dialog>


<p-dialog header="Cadastrar-se" [showHeader]="true" [closable]="false"
          [(visible)]="renderizarCadastro" [modal]="true" [baseZIndex]="10001"
          [draggable]="false" [resizable]="false" [style]="{width: '50vw'}">
  <div class="modal-body bg-white">
    <form>
      <div class="alert alert-danger" role="alert" [hidden]="mensagemErroCadastro==null">
        {{mensagemErroCadastro}}
      </div>

      <span class="p-float-label" style="margin-bottom: 1.6em">
        <input type="text" class="form-control" id="cadastroNome" pInputText
               [required]="true" [(ngModel)]="usuarioCadastro.nome" name="nome">
      <label style="font-size: 1em;"
             for="cadastroNome">Nome</label>
      </span>

      <span class="p-float-label" style="margin-bottom: 1.6em">
        <input type="email" class="form-control" id="cadastroEmail" pInputText aria-describedby="emailHelp"
               [required]="true" [(ngModel)]="usuarioCadastro.email" name="nome">
      <label style="font-size: 1em;"
             for="cadastroEmail">Email</label>
      </span>

      <span class="p-float-label" style="margin-bottom: 1.6em">
       <input type="password" class="form-control" id="cadastroSenha" pInputText
              [required]="true" [(ngModel)]="usuarioCadastro.senha" name="nome">
      <label style="font-size: 1em;"
             for="cadastroSenha">Senha</label>
      </span>

      <span class="p-float-label" style="margin-bottom: 1.6em">
       <input type="password" class="form-control" id="cadastroSenhaConfirmar" pInputText
              [required]="true" [(ngModel)]="confirmacaoSenha" name="nome">
      <label style="font-size: 1em;"
             for="cadastroSenhaConfirmar">Confirmar Senha</label>
      </span>
      <button type="submit" (click)="cadastrarUsuario()"
              class="btn btn-success btn-block btn-lg">Cadastrar-se
      </button>
      <button type="button" class="btn btn-danger btn-block btn-sm"
              (click)="[abrirDialogLogin(), renderizarCadastro = false]">Cancelar
      </button>
    </form>
  </div>
</p-dialog>

