.titulo-principal {
  color: whitesmoke;
  font-weight: bold;
  font-size: 150%;
}

.background-navbar {
  background-color: #a8d18d !important;
}

.show {
  display: block;
}


:host ::ng-deep .p-button {
  margin: 0 .5rem 0 0;
  min-width: 10rem;
}

p {
  margin: 0;
}

.confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .p-dialog .p-button {
  min-width: 6rem;
}

.p-dialog .p-dialog-content {
  background: #ffffff;
  color: #495057;
  padding: 0 !important;
}
