<h3 style="color: #577f38">Listagem de Cadastros Imobiliário</h3>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success p-mr-2"
              (click)="abrirDialogCadastro()">
      </button>
      <!-- <button pButton pRipple label="Excluir" icon="pi pi-trash" class="p-button-danger"
               (click)="deletarCadastrosSelecionados()">
       </button>-->
    </ng-template>
  </p-toolbar>
  <p-messages [value]="mensagens"></p-messages>
  <p-table #dt [value]="listaCadastrosImobiliario" [rows]="10" [paginator]="true" scrollHeight="200px"
           [globalFilterFields]="['cep','endereco','unidadeFederativa.nome','cidade']"  [scrollable]="false"
           [(selection)]="listaCadastrosImobiliarioSelecionados" [rowHover]="true" dataKey="id"
           currentPageReportTemplate=" {first} - {last} de {totalRecords} registros"
           [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <span class="p-input-icon-left" style="width: 100%">
                        <i class="pi pi-search"></i>
                        <input style="width: 100%" placeholder="Busca..."
                               pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"/>
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <!--<th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>-->
        <th pSortableColumn="cep">cep
          <p-sortIcon field="cep"></p-sortIcon>
        </th>
        <th pSortableColumn="endereco">Endereço
          <p-sortIcon field="endereco"></p-sortIcon>
        </th>
        <th pSortableColumn="unidadeFederativa">Estado
          <p-sortIcon field="unidadeFederativa"></p-sortIcon>
        </th>
        <th pSortableColumn="cidade">Cidade
          <p-sortIcon field="cidade"></p-sortIcon>
        </th>
        <th>
          Ações
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cadastroImobiliario>
      <tr>
        <!-- <td>
           <p-tableCheckbox [value]="cadastroImobiliario"></p-tableCheckbox>
         </td>-->
        <td>{{cadastroImobiliario.cep | mask: '00000-000'}}</td>
        <td>{{cadastroImobiliario.tipoLogradouro.descricao}} {{cadastroImobiliario.endereco}}  {{cadastroImobiliario.bairro}},  {{cadastroImobiliario.complemento}}</td>
        <td>{{cadastroImobiliario.unidadeFederativa.nome}}</td>
        <td>{{cadastroImobiliario.cidade}}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class=" p-button-success p-mr-2"
                  style="height: 2em !important;"
                  (click)="abrirDialogEditar(cadastroImobiliario)"></button>
          <button pButton pRipple icon="pi pi-trash" class=" p-button-warning"
                  style="height: 2em !important;"
                  (click)="confirmarExcluir(cadastroImobiliario)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        Existe um total de {{listaCadastrosImobiliario ? listaCadastrosImobiliario.length : 0 }} cadastro(s)
        imobiliário.
      </div>
    </ng-template>
  </p-table>

  <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10001"></p-confirmDialog>

  <p-dialog [header]="tituloDlgCadastrarEditar" style="max-width: 850px !important;"
            [(visible)]="renderizarCadastrar" [modal]="true" [baseZIndex]="10000"
            [draggable]="false" [resizable]="false" [showHeader]="true">
    <form>
      <div class="p-fluid" style="max-width: 850px !important;">
        <div class="p-field p-grid">
          <div class="p-col-12 p-md-12">
            <div class="alert alert-danger" role="alert" [hidden]="mensagemDeErroCadastrar==null">
              {{mensagemDeErroCadastrar}}
            </div>
          </div>
          <div class="p-col-12 p-md-6" style="margin-top: 2em">
             <span class="p-float-label">
               <p-inputMask id="cadastroInputCep" mask="99999-999" [required]="true"
                            [(ngModel)]="cadastroImobiliario.cep" name="cep"></p-inputMask>
          <label style="font-size: 1em;" for="cadastroInputCep">Cep</label>
          </span>
          </div>
          <div class="p-col-12 p-md-6" style="margin-top: 2em">
            <span class="p-float-label">
               <p-dropdown id="cadastroSelectTipoLog" name="tipoLogradouroSelecionada" required="true"
                           [options]="listaTipoLogradouro" [(ngModel)]="tipoLogradouroSelecionada"
                           optionLabel="descricao" [showClear]="true" placeholder="XXX">
               </p-dropdown>
            <label style="font-size: 1em;" for="cadastroSelectTipoLog">Tipo Logradouro</label>
            </span>
          </div>
          <div class="p-col-12 p-md-12" style="margin-top: 2em">
            <span class="p-float-label">
              <textarea rows="5" cols="15" pInputText autoResize="autoResize"
                        id="cadastroTextAreaEndereco" [required]="true" maxlength="1000"
                        [(ngModel)]="cadastroImobiliario.endereco" name="endereco">
              </textarea>
              <label style="font-size: 1em;" for="cadastroTextAreaEndereco">Endereço</label>
            </span>
          </div>
          <div class="p-col-12 p-md-12" style="margin-top: 2em">
            <span class="p-float-label">
              <textarea rows="3" cols="15" pInputText autoResize="autoResize"
                        id="cadastroTextAreaComplemento" [required]="true" maxlength="1000"
                        [(ngModel)]="cadastroImobiliario.complemento" name="complemento">
              </textarea>
              <label style="font-size: 1em;" for="cadastroTextAreaComplemento">Complemento</label>
            </span>
          </div>

          <div class="p-col-12 p-md-6" style="margin-top: 2em">
            <span class="p-float-label">
              <input id="cadastroInputNumero" type="text" pInputText maxlength="100"
                     [required]="true" [(ngModel)]="cadastroImobiliario.numero" name="numero">
              <label style="font-size: 1em;" for="cadastroInputNumero">Numero</label>
            </span>
          </div>

          <div class="p-col-12 p-md-6" style="margin-top: 2em">
            <span class="p-float-label">
              <input id="cadastroInputBairro" type="text" pInputText maxlength="500"
                     [required]="true" [(ngModel)]="cadastroImobiliario.bairro" name="bairro">
              <label style="font-size: 1em;" for="cadastroInputBairro">Bairro</label>
            </span>
          </div>

          <div class="p-col-12 p-md-6" style="margin-top: 2em">
            <span class="p-float-label">
                <p-dropdown id="cadastroSelectUf" name="unidadeFederativaSelecionada" required="true"
                            [options]="listaUnidadeFederativas" [(ngModel)]="unidadeFederativaSelecionada"
                            placeholder="XXX" style="" optionLabel="sigla" [showClear]="true">
                </p-dropdown>
            <label style="font-size: 1em;" for="cadastroSelectUf">Unidade Federativa</label>
            </span>
          </div>

          <div class="p-col-12 p-md-6" style="margin-top: 2em">
            <span class="p-float-label">
              <input id="cadastroInputCidade" type="text" pInputText
                     [required]="true" [(ngModel)]="cadastroImobiliario.cidade" name="cidade">
              <label style="font-size: 1em;" for="cadastroInputCidade">Cidade</label>
            </span>
          </div>

          <div class="p-col-12 p-md-12" style="margin-top: 2em">
            <button type="submit" (click)="salvarCadastroImobiliario()"
                    class="btn btn-success btn-block btn-lg">Salvar
            </button>
          </div>
        </div>
      </div>
    </form>
  </p-dialog>
</div>





